<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
      <%= render 'posts/new', post: @new_post %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Post detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(@post) do %>
                <%= @post.title %>
              <% end %>
            </td>
            <td>
              <%= @post.body %>
            </td>
            <% if @post.user == current_user %>
              <td>
                <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success"  %>
              </td>
              <td>
                <%= link_to "Destroy", post_path(@post), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>