<!DOCTYPE html>
<html>
    <head>
      <title>Oshikatsu</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <script src="https://kit.fontawesome.com/659aaf6027.js" crossorigin="anonymous"></script>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
   
    <body>
      <header>
        <%= render 'layouts/header' %>
      </header>
      <main>
          <p class="notice"><%= notice %></p>
        <%= yield %>
      </main>
      <footer>
       <div class="container mt-5">
       <div class="row">
       <div class="mx-auto">
         <p>CopyRight Yamagata.inc</p>
       </div>
       </div>
       </div>
      </footer>
    </body>
</html>
